*{
    font-family: 'Work Sans' , sans-serif;
    /*margin: 0px;*/
    padding: 0px;
}

/* configurando a parte do header*/
.header {
    background-color:  #11181E;
    display: flex;
    justify-content: space-between;
    padding:  10px;
    align-items: center;
    flex-wrap: wrap;
}

.header>a{
    color:  #fff ;
}

.menu {
    color:  #fff ;
    display: flex;
    padding-right: 20px ;
}

.menu>li {
    margin-left:  12px ;
    list-style: none;
    font: solid;
}

.menu>li>a {
    display: block;
    padding:  10px;
    background-color:  rgb(186, 25, 207);
    border: groove 2px white;
    border-radius:  10px;
    color:  #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.menu>li>a:hover{
    color: rgb(186, 25, 207);
    background-color: rgba(0, 0, 0, 0.349);
}

/*terminada a configuração do header e comecando a parte1 do blog*/

body{
    padding: 0px;
    margin: 0px;
    /*background-color: rgb(186, 25, 207);*/
    background-image: linear-gradient( #11181E, rgb(186, 25, 207));
}

section.parte1-blog{
    background-image: url(imagens-blog/fundo-blog.png);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: groove 10px rgb(186, 25, 207);
    height: 250px;
}

.apresentacao-blog{
    font-size: 1.0rem;
    margin: 50px;
    text-shadow: 1px 2px 1px grey;
    color: #fff;
    padding: 20px;
    max-width: 300px;
    background-color: rgb(186, 25, 207);
    border-radius: 20px 40px;
    border: groove 3px white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
}

.apresentacao-blog>p{
    font-family: monospace , sans-serif;
    text-align: justify;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}

#tele{
    background-color: aqua;
    font-size: 1.0rem;
    margin: 50px;
    color: #11181E;
    padding: 20px;
    max-width: 300px;
    border-radius: 20px 40px;
    border: groove 3px white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
}

#tele>p{
    font-family: monospace , sans-serif;
    text-align: justify;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}

#tele>a{
    background-color: rgb(8, 8, 37);
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border: groove 3px aqua;
    font-size: 15px;
    box-shadow: 2px 2px 2px grey;
}

#tele>a:hover{
    border: 0px;

}

.primeiras-noticias{
    border-top: groove 5px #11181E;
    color: #fff;
    text-align: center;
}

.primeiras-noticias>h2{
    margin-left: 20px;
    text-shadow: 2px 2px 5px rgb(37, 22, 37);
    font-family: Arial, Helvetica, sans-serif;
}

#introducao{
    font-size: 22px;
}

.grid1-blog{
    /*background-image:linear-gradient(rgb(45, 8, 56), rgb(15, 15, 22)  );*/
    background-image: linear-gradient(rgb(186, 25, 207),#11181e);
    border: groove 3px rgba(0, 0, 0, 0.507);
    display: grid;
    grid-template-areas:  "a a b c"
                          "d e f g";
    padding: 20px;
    gap: 10px;
}

.noticia1{
    grid-area: a;
    background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}
.noticia1>a>img{
    width: 600px;
}

.noticia2{
    grid-area: b;
    background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}
.noticia2>a>img{
    width: 300px;
}

.noticia3{
    grid-area: c;
    background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}

.noticia4{
    grid-area: d;
    /*background-color: rgba(165, 165, 165, 0.589);*/
    background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}

.noticia5{
    grid-area: e;
    /*background-color: rgba(165, 165, 165, 0.589);*/
    background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}

.noticia6{
    grid-area: f;
   /* background-color: rgba(165, 165, 165, 0.589);*/
   background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);

}

.noticia7{
    grid-area: g;
    /*background-color: rgba(165, 165, 165, 0.589);*/
    background-color: #11181E;
    padding: 10px;
    border: groove 2px #11181E;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}

.noticia1:hover , .noticia2:hover , .noticia3:hover, .noticia4:hover, .noticia5:hover , .noticia6:hover , .noticia7:hover{
    background-color: rgb(186, 25, 207);
}

.grid1-blog>div>p{
    background-color: rgb(58, 58, 58);
    border-radius: 15px;
    border: groove 2px rgb(206, 12, 157);
    color: #fff;
    padding: 8px;
}

footer{
    background-color: rgba(63, 63, 63, 0.527);
    padding: 20px;
    text-align: center;
    color: #fff;
}

/*agora vou começar a fazer a parte responsiva do site com @media*/


@media ( max-width: 600px){
    section.parte1-blog{
        height: 420px;
    }

    .apresentacao-blog{
        width: 300px;
        font-size: 1rem;
        margin: 0px;
    }

    #tele{
        width: 300px;
        font-size: 1rem;
        margin: 0px;
    }

    .grid1-blog{
        display: flex;
        flex-wrap: wrap;
    }

    .noticia1>a>img{
        max-width: 300px;
    }


}
