*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #913AF3;
    border-radius: 30px;
}

/* configurando a parte do header*/
.header {
    background-color:  #1b1f22;
    display: flex;
    justify-content: space-between;
    padding:  10px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: groove 2px #e7e7e7;
    height: 70px;
    margin-bottom: 45px;
}

.menu {
    display: flex;
    padding-right: 20px ;
}

.menu > li {
    margin-left:  12px ;
    list-style: none;
    font: solid;
    color: #fff;
}

.menu > li > a {
    display: block;
    padding:  10px;
    background-color:  #913AF3;
    border: groove 2px #1b1f22;
    border-radius:  10px;
    color:  #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.menu>li>a:hover{
    color: #913AF3;
    background-color: rgba(0, 0, 0, 0.349);
}

.menu > li > #doBlogpHome {
    color: black;
    background: #02e0bb;
}

/*terminada a configuração do header e comecando a parte1 do blog*/

body{
    padding: 0px;
    margin: 0px;
    /*background-color: rgb(186, 25, 207);*/
   background: #1b1f22;
}

section.parte1-blog{
    /*background-image: url(imagens-blog/fundo-blog.png);*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: groove 2px #913AF3;
    height: 250px;
}

.apresentacao-blog{
    font-size: 1.0rem;
    margin: 50px;
    text-shadow: 1px 2px 1px grey;
    color: #fff;
    padding: 20px;
    max-width: 300px;
    background-color: #913AF3;
    border-radius: 20px 40px;
    border: groove 3px white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
}

.apresentacao-blog>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}

#tele{
    background-color: #02e0bb;
    font-size: 1.0rem;
    margin: 50px;
    color: #11181E;
    padding: 20px;
    max-width: 300px;
    border-radius: 20px 40px;
    border: groove 3px white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
    height: 90px;
}

#tele > p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
    margin-bottom: 20px;
}

#tele > a {
    background-color: rgb(8, 8, 37);
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border: groove 3px #02e0bb;
    font-size: 15px;
    box-shadow: 2px 2px 2px grey;
}

#tele > a:hover {
    border: 0px;

}

.primeiras-noticias {
    color: rgb(228, 228, 228);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 30px;
}

.primeiras-noticias > #introducao > h2 {
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgb(37, 22, 37);
    margin: 5px 0px 5px 15px;
}

.primeiras-noticias > #introducao > p {
    margin: 5px 0px 15px 15px;
    font-size: .8rem;
    color: #02e0bb;
}


.grid1-blog {
    /*background-image:linear-gradient(rgb(45, 8, 56), rgb(15, 15, 22)  );*/
    background: linear-gradient(#272d31 , #903af32d);
    border-bottom: none;
    border-radius: 10px;
    display: grid;
    /*grid-template-columns: 280px 280px 280px 280px 280px 280px 280px;*/
    grid-template-columns: 250px;
    grid-template-areas: "a b c d e f";                    
    padding: 10px;
    gap: 15px;
    margin-bottom: 30px;
    overflow-x: scroll;
    height: 230px;
}

.grid1-blog::-webkit-scrollbar{
    height: 5px; 
}

.grid1-blog::-webkit-scrollbar-corner {
    margin-top: 100px;
}

.grid1-blog::-webkit-scrollbar-thumb {
    background: #e7e7e7;
}

#noticia1 {
    grid-area: a;
    background-image: url(imagens-blog/faang-nova.jpg);
    cursor: pointer;
}

#noticia2 {
    grid-area: b;
    background-image: url(imagens-blog/bitcoin-novo.jpg);
    cursor: pointer;
}

#noticia3 {
    grid-area: c;
    background-image: url(imagens-blog/chinaBlog-novo.jpg);
    cursor: pointer;
}

#noticia4 {
    grid-area: d;
    background-image: url(imagens-blog/tiposDeAções-blog.jpg);
    cursor: pointer;
    /*background-color: rgba(165, 165, 165, 0.589);*/
}

#noticia5 {
    grid-area: e;
    background: url(imagens-blog/Bitcoin.jpg);
    /*background-color: rgba(165, 165, 165, 0.589);*/
}

#noticia6 {
    grid-area: f;
    background: url(imagens-blog/chinaBlog-novo.jpg);
   /* background-color: rgba(165, 165, 165, 0.589);*/
}

#noticia1 , #noticia2 , #noticia3 , #noticia4, #noticia5 , #noticia6 {
    /*margin: auto;*/
    padding: 8px;
    align-items: flex-start;
    text-align: center;
    font-size: .8rem;
    width: 230px;
    background-color: #913AF3;
    border: groove 2px #F0FFFA;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    height: 190px;
} 

/*.noticia1:hover , .noticia2:hover , .noticia3:hover, .noticia4:hover, .noticia5:hover , .noticia6:hover {
    background: url(imagens-blog/GS_atual-removebg-preview.png);
}*/

.grid1-blog>div>p{
    background-color: rgb(58, 58, 58);
    border-radius: 15px;
    border: groove 2px rgb(206, 12, 157);
    color: #fff;
    padding: 8px;
}


#introd-part2 {
    margin-left: 20px;
    color: #e7e7e7;
}

#grid-part2 {
    background: linear-gradient(#1b1f22 , #903af34d);
    border: groove 3px #dbdbdb;
    border-bottom: none;
    border-radius: 10px;
    display: grid;
    /*grid-template-columns: 280px 280px 280px 280px 280px 280px 280px;*/
    grid-template-columns: 250px;
    grid-template-areas: "a b c d e f";                    
    padding: 10px;
    gap: 15px;
    margin-bottom: 30px;
    overflow-x: scroll;
    height: 230px;
}



footer{
    background-color: #913AF3;
    padding: 20px;
    text-align: center;
    color: #fff;
}